@use "ThemeProvider/mainstyles" as theme;

.date-edit-content {
  .date-edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .date-edit-title {
    margin-bottom: -0.8em;
  }

  div:nth-child(2) {
    margin-top: 0.75em;
  }

  h2 {
    color: #fbfcff;
    font-size: clamp(1.1rem, 3vw, 1.6rem);
  }
}

.date-edit-content-completed {
  .date-edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .date-edit-title {
    margin-bottom: -0.8em;
  }

  div:nth-child(2) {
    margin-top: 0.75em;
  }

  h2 {
    color: #988b8e;
    text-decoration: line-through;
    font-style: italic;
    font-size: clamp(1.1rem, 3vw, 1.6rem);
  }
}

@media (min-width: theme.$media-query-value) {
  .date-edit-content {
    .date-edit-buttons {
      flex-direction: row;

      div:nth-child(2) {
        margin-left: 0.5em;
        margin-top: 0em;
      }
    }
  }

  .date-edit-content-completed {
    .date-edit-buttons {
      flex-direction: row;

      div:nth-child(2) {
        margin-left: 0.5em;
        margin-top: 0em;
      }
    }
  }
}
